apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: apps-kafka-cluster
  namespace: flux-system
spec:
  interval: 10m
  targetNamespace: default
  path: ./apps/kafka-cluster
  prune: true
  sourceRef:
    kind: GitRepository
    name: wallet-local-gitops
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: apps-kafbat
  namespace: flux-system
spec:
  interval: 10m
  targetNamespace: default
  dependsOn:
    - name: apps-kafka-cluster
  path: ./apps/kafbat
  prune: true
  sourceRef:
    kind: GitRepository
    name: wallet-local-gitops
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: apps-valkey
  namespace: flux-system
spec:
  interval: 10m
  targetNamespace: default
  path: ./apps/valkey
  prune: true
  sourceRef:
    kind: GitRepository
    name: wallet-local-gitops
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: apps-headlamp
  namespace: flux-system
spec:
  interval: 10m
  path: ./apps/headlamp
  prune: true
  sourceRef:
    kind: GitRepository
    name: wallet-local-gitops
