apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: wallet-local-gitops
  namespace: flux-system
spec:
  interval: {{ gitops.interval }}
  url: {{ gitops.url }}
  ref:
    branch: {{ gitops.branch }}
  secretRef:
    name: gitops-ssh-key
